body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

#guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #0CBABA;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

#guess-button:hover {
    background-color: #09a8a8;
}

#guesses {
    display: none;
    margin-top: 20px;
    font-size: 18px;
}

.resultado {
    text-align: center;
    margin-top: 30px;
    
}

.letter {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

.row {
    margin-bottom: 10px;
}

.input-area {
    margin-top: 30px;
    text-align: center;
}